:root {
    --white: hsl(0, 0%, 100%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #f6f6f6;
}

header, main {
    width: 90vw;
    margin: 0 auto;
}

header {
    height: 25vh;
}

header img {
    width: 100%;
    height: 100%;
}

main {
    height: auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 0;
}

.recipe-title, .section-title {
    font-family: "Young Serif", sans-serif;
    font-size: 2rem;
}
.section-title {
    margin-left: 1rem;
    font-weight: lighter;
    color: var(--brown-800);
}

section li::marker {
    color: var(--brown-800);
    font-weight: bold;
}

.recipe-ingredients {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.7rem 2rem;
}

.preparation-time {
    background-color: var(--rose-50);
    width: 100%;
    border-radius: 1rem;
    padding: 0.7rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li {
   margin-top: 1rem;
}

.title {
    font-size: 1.2rem;
    font-weight: 700;
}

.preparation-time .title, .preparation-time li::marker {
    color: var(--rose-800);
}

li {
    list-style-position: inside;
}

.recipe-instructions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.7rem 2rem;
}

.nutrition-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}

.nutrition-details .description {
    width: 90%;
    margin: 0 auto;
}

.nutrition-value {
    color: var(--brown-800);
    font-weight: 700;
}

.nutrition-table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

.nutrition-table td {
    text-align: center;
}

.nutrition-table td:not([class~="last-row-td"]) {
    border-bottom: 1px solid lightgrey;
}

footer {
    margin-top: 3rem;
}

@font-face {
    font-family: "Young Serif";
    src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
    font-family: "Outfit";
    src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@media screen and (min-width: 1440px){
    body {
        background-color: var(--stone-100);
    }
}